.min-wrap {
    border: 1px solid black;
    position: relative;
    width: 300px;
    left: 10px;
    top: 20px;
}
.min-wrap img {
    width: 100%;
}
#slider {
    background: url(images/dian.png);
    width: 150px;
    height: 150px;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.max-wrap {
    border: 1px solid black;
    width: 400px;
    height: 400px;
    overflow: hidden;
    position: absolute;
    left: 330px;
    top: 20px;
    display: none;
}
